toolbarpanel {
    position: absolute;
    top: 150px;
    left: 30px;
    justify-content: center;
    flex-direction: column;

    .tool {
        background-color: rgba(#0F131A, 0.9);
        border-radius: 8px;
        box-shadow: 2px 2px 15px rgba( black, 0.8 );
        padding: 4px;
        margin: 4px 0px;
        pointer-events: auto;
        cursor: pointer;
        align-items: center;

        image {
            width: 32px;
            height: 32px;
        }

        label {
            color: white;
            font-family: Poppins;
            margin: 0px 8px;
        }

        &:hover {
            background-color: rgba(#3472e6, 0.8);
        }

        &.active {
            background-color: rgba(#3472e6, 0.8);
        }
    }
}
